body {
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    height: 100%;
}

    .logo-section {
        position: relative;
        flex: 0.7;
        text-align: center;
    }
        .logo {
            position: absolute;
            width: 100%;
            font-size: 4rem;
            font-weight: bold;
            background-color: bisque;
            padding: 1rem 0;
            top: 200px;
        }
    
    .form-section {
        flex: 1;
    }

    .form-section > div {
        padding-left: 50px;
    }

        .top {
            height: 30vh;
        }

        .middle {
            background-color: aquamarine;
            width: 100%;
            height: 32vh;
        }

            .form-header {
                font-size: 30px;
                font-weight: bold;
                padding-top: 10px;
                padding-bottom: 5px;
            }

            form {
                position: relative;
                display: flex;
                gap: 90px;
            }
                
                form > div {
                    width: 13vw;
                }

                .form-main > div {
                    padding: 15px 0;
                }

                input {
                    height: 20px;
                    width: 100%;
                }

            input, label {
                display: block;
            }    

        .bottom {}

