@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500&display=swap');

:root {
    --front-color: #0fa;
    --back-color: black;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    height: 100%;
}

    .logo-section {
        background-image: url("images/tokyo.jpg");
        background-size: cover;
        text-align: center;
        width: 40vw;
        position: relative;
    }

        .logo-text {
            margin-top: 20vh;
            width: 100%;
            height: 10vh;
            position: relative;
            background-color: rgba(3, 3, 2, 0.685);
        }
            .logo {
                position: absolute;
                font-size: 4rem;
                font-weight: bold;
                color: white;
                padding: 1rem 0;
                left: 35%;
                top: -3px;
            }

            .neonText {
                color: #fff;
                animation: flicker 1.5s infinite alternate;    
                text-shadow:
                    0 0 7px #fff,
                    0 0 10px #fff,
                    0 0 21px #fff,
                    0 0 42px #F535AA,
                    0 0 82px #F535AA,
                    0 0 92px #F535AA,
                    0 0 102px #F535AA,
                    0 0 151px #F535AA;
                }

                @keyframes flicker {
                0%, 18%, 22%, 25%, 53%, 57%, 100% {
                    text-shadow:
                    0 0 4px #fff,
                    0 0 11px #fff,
                    0 0 19px #fff,
                    0 0 40px #F535AA,
                    0 0 80px #F535AA,
                    0 0 90px #F535AA,
                    0 0 100px #F535AA,
                    0 0 150px #F535AA;
                }
                20%, 24%, 55% {       
                    text-shadow: none;
                }
                }

            .logo-icon {
                position: absolute;
                left: 20%;
                top: 10px;
                z-index: 1;
            }

            .image-author {
                position: absolute;
                bottom: 20px;
                left: 0;
                right: 0;
                color: #0fa;
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 300;
                font-size: 1.2rem;
            }

            .image-author a {
                color: #F535AA;
                text-decoration: none;
            }

    .form-section {
        display: flex;
        flex-direction: column;
        width: 60vw;
        font-family: 'Barlow Condensed', sans-serif;
        color: var(--front-color);
        background-color: var(--back-color);
    }

        .form-section > div {
            padding-left: 50px;
        }

        .top {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex: 1;
            gap: 20px;
            font-weight: 300;
        }

            .top > p {
                font-size: 1.6rem;
                width: 70%;
            }

            .top p:last-child {
                margin-bottom: 40px;
                font-weight: 500;
            }

        .middle {
            padding-bottom: 50px;
            flex: 1;
            width: 100%;
        }

            .form-header {
                font-size: 30px;
                font-weight: 500;
                width: 100%;
                margin-top: 20px;
            }

            form {
                display: flex;
                flex-flow: row wrap;
                gap: 30px;
                font-weight: 300;
            }

                form > div {
                    display: flex;
                    flex-direction: column;
                    width: 35%;
                }

                input{
                    margin-top: 5px;
                    height: 2rem;
                    border-radius: 10px;
                    border-color: #F535AA;
                    background-color: rgb(27, 25, 25);
                    color: #F535AA;
                    font-family: 'Barlow Condensed', sans-serif;
                    font-size: 20px;
                }

                input + span {
                    position: relative;
                  }

                input:required + span::after {
                    font-size: 0.9rem;
                    position: absolute;
                    content: "required";
                    color: #0fa;
                    background-color: black;
                    padding: 3px 7px;
                    top: -59px;
                    left: 80%;
                    border: 1px #0fa solid;
                  }


        .bottom {
            flex: 1;
            display: flex;
            gap: 30px;
            flex-direction: column;
        }

            .bottom button {
                width: 10rem;
                height: 3.5rem;
                margin-top: 2rem;
                font-weight: bold;
                font-size: 1rem;
                background-color: black;
                color: #F535AA;
                border-radius: 20px;
                border-color: #F535AA;
            }

            .bottom button:hover {
                color: #0fa;
                border-color: #0fa;
            }

            .bottom p {
                font-weight: 300;
                font-size: 1.5rem;
            }

            .bottom span {
                font-weight: 500;
            }

            .bottom a {
                color: #F535AA;
                text-decoration: none;
            }

            a:hover {
                color: #0fa;
            }


/* Mobile layout */

@media screen and (max-width: 850px) {
        main {
            flex-direction: column;
            overflow: visible;
        }

            .logo-section { 
                width: 100%;
                height: 30vh;
                background-size: cover;
                background-repeat:no-repeat;
            }

                .logo-text {
                    margin-top: 10vh;
                    width: 100%;
                    height: 10vh;
                    position: relative;
                    background-color: rgba(3, 3, 2, 0.685);
                }

                    .logo {
                        position: absolute;
                        font-size: 4rem;
                        font-weight: bold;
                        color: white;
                        padding: 1rem 0;
                        left: 20%;
                        top: -3px;
                    }

                .neonText {
                    color: #fff;
                    animation: flicker 1.5s infinite alternate;    
                    text-shadow:
                      0 0 7px #fff,
                      0 0 10px #fff,
                      0 0 21px #fff,
                      0 0 42px #0fa,
                      0 0 82px #0fa,
                      0 0 92px #0fa,
                      0 0 102px #0fa,
                      0 0 151px #0fa;
                  }
        
                  @keyframes flicker {
                    0%, 18%, 22%, 25%, 53%, 57%, 100% {
                      text-shadow:
                        0 0 4px #fff,
                        0 0 11px #fff,
                        0 0 19px #fff,
                        0 0 40px #0fa,
                        0 0 80px #0fa,
                        0 0 90px #0fa,
                        0 0 100px #0fa,
                        0 0 150px #0fa;
                    }
                    20%, 24%, 55% {       
                      text-shadow: none;
                    }
                  }

                .logo-icon {
                    position: absolute;
                    top: 10px;
                    left: 3%;
                    z-index: 1;
                }
                
                .image-author {
                    top: 0;
                    font-weight: 500;
                    font-size: 1rem;
                }

            .form-section {
                display: block;
                width: 100vw;
                height: 70vh;
                overflow: visible;
                
            }

            .form-section > div {
                padding: 10px
            }

                .top {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 20px;
                    padding: 30px;
                }
        
                    .top > p {
                        font-size: 1.2rem;
                        width: 100%;
                    }
        
                    .top p:last-child {
                        margin-bottom: 0px;
                    }
        
                .middle {
                    padding-bottom: 50px;
                    width: 100%;
                }
        
                    .form-header {
                        font-size: 30px;
                        width: 100%;
                        margin-top: 0px;
                    }
        
                    form {
                        display: flex;
                        flex-flow: row wrap;
                        gap: 14px;
                    }
        
                        form > div {
                            display: flex;
                            flex-direction: column;
                            width: 47%;
                        }
                        
                        .form-label {
                            font-size: 16px;
                        }

                        input {
                            height: 1.5rem;
                        }

                        input + span {
                            position: relative;
                          }
        
                        input:required + span::after {
                            font-size: 0.9rem;
                            padding: 1px 5px;
                            top: -46px;
                            left: 69%;
                          }
        
                .bottom {
                    display: flex;
                    gap: 30px;
                    flex-direction: column;
                }
        
                    .bottom button {
                        width: 10rem;
                        height: 3.5rem;
                        margin-top: 0.5rem;
                        font-size: 1rem;
                    }
        
                    .bottom p {
                        font-size: 1.5rem;
                    }
  }